<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="depends,defects"
         shortenArraysForExportThreshold="10"
         displayDetailsOnPhpunitDeprecations="true">

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>app</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="laravel"/>
        <env name="DB_USERNAME" value="sail"/>
        <env name="DB_PASSWORD" value="password"/>
        <env name="JWT_SECRET" value=""/>
        <env name="AWS_ACCESS_KEY_ID" value=""/>
        <env name="AWS_SECRET_ACCESS_KEY" value=""/>
        <env name="AWS_REKOGNITION_REFERENCE_PREFIX" value="rekognition-test-v1"/>
        <env name="AWS_USER_MATCH_THRESHOLD" value="80"/>
        <env name="AWS_SEARCH_RESULT_MAX_USERS" value="5"/>
    </php>
</phpunit>
